<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PetProject</title>
    <script src="/Script.js"></script>
    <th:block th:include="menu"></th:block>
</head>

<body>

<div id="OnePerson"></div>

<button type="button" onclick="getOnePerson()">Одно ебало</button>
<br>
<p>
<button type="button" onclick="createPeople()">Создать кучу ебал</button>
<br>
<p>
<button type="button" onclick="getAllFromDB()">Выгрузить все ебала</button>
<div id="Result"></div>


<form th:object="${form}" method="POST" action="SaveFiles" enctype="multipart/form-data">
    File to upload (path):
    <input th:field="*{files}" type="file" multiple/>
    <input type="submit" value="Upload">
</form>

<form th:object="${form}" method="POST" action="UploadFiles" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Select Spec:</td>
            <td>
                <select th:field="*{filePath}" >
                    <option value=""> -- </option>
                    <option th:each="key : ${form.getMyFileMap().keySet()}"
                            th:value="${key}"
                            th:utext="${key}">
                    </option>
                </select>
                <!-- >  <input name="amount" type="number" step="any" th:field="*{temp}"><-->
                <button type="submit">LUL</button>
            </td>
    </table>
</form>



</body>

</html>
